@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3){

.main{
	padding-left: 5%;
	padding-right: 5%;
}

.head{
	font-size: 150%;
	color: grey;
}
#navbar {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
#navbar li{
  display: block;
  background-color: #d1d1d1;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  border: 0;
}
#navbar li:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0;
}
#navbar li:last-child{
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-top-right-radius: 0;
}
#navbar li a{
  text-decoration: none;
  vertical-align: middle;
  color: black;
}
#navbar li:hover {
box-shadow: 0 0 14px 1px grey;
background: lightgrey;
cursor: pointer;
}

.marketing{
	text-align: center;
	font-size: 135%;
	margin-top-top: 100px;
	padding-bottom: 25px;
}
.marketing h1{
margin: 0;
}
.marketingButton{
	background: green;
	color: white;
	padding: 15px 40px;
	border-radius: 6px;
	border: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 20px;	
}
.content{
	font-size: 90%;
	padding-bottom: 50px;
}
.content .rov{
	width: 100%;	
}
.content .rov .Safari{
display: block;
width: 100%;
margin: 0;
}

.content .rov .Safari font{
	color: red;
}
.content .rov .Safari button{
	background: blue;
	color: white;	
	padding: 10px 20px;
	border-radius: 6px;
	border: 0;
	width: 100%;
}

.content .rov .Safari:nth-child(2) {
padding-left: 10px;
}
.content .rov .Safari:nth-child(3) {
padding-left: 10px;
}


}